html, body {
    display: flex;
    flex-flow: column;
    background-color: #1c1c1e;
    height: 100vh;
    width: 100vw;
}

#participant-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: space-evenly;
}

.participant {
    display: inline-flex;
    position: relative;
}

.participant > div:not(.label) {
    display: inline-flex;
}

video {
    z-index: 0;
    border: 1px solid #6c757d;
    border-radius: 0.25rem;
    aspect-ratio: 4 / 3;
    object-fit: contain;
}

.label {
    z-index: 1;
    position: absolute;
    right: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin: 1px;
    background-color: #1c1c1e80;
    border: 0px;
    border-radius: 0.25rem;
    color: #dee2e6;
}

.participantLabel {
    bottom: 0;
}

.muteParticipantAudioLabel {
    top: 0;
}

.participantHidden {
    display: none;
}

.participantZoomed div video:not(.trackZoomed) {
    display: none;
}

.participantHidden div video {
    display: none;
}

.participantHidden .label {
    display: none;
}
